





			/* typeface selection */

@import url(https://fonts.googleapis.com/css?family=Oswald:700,300);





			/* site & body style - background */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 20px;			
}

html {
	height: 100%;
}

body {
	background-image: url(images/hero.png);
	background-size: cover;
	font-family: 'Oswald', Helvetica, sans-serif;											
	color: #fff;
	display: flex;
  	height: 100%;
  	flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
}





		 /* header style - header elements */

header {
	background: -webkit-linear-gradient(top, #000, rgba(0, 0, 0, .9));
	background: -moz-linear-gradient(top, #000, rgba(0, 0, 0, .9));
	background: -o-linear-gradient(top, #000, rgba(0, 0, 0, .9));
	border-bottom: .1em solid #fff;
}

header img {
	height: 3em;
	width: 3em;
	margin: 1em 0 0 1em;
	display: inline-block;
}

header h1 {
	font-size: 3em;
	font-weight: 750;
	letter-spacing: .07em;
	color: #fff;
	margin: 0 0 .2em .2em;
	display: inline-block;
}

nav {
	display: inline-block;
	float: right;
	margin: 1.4em 1em 0 0;
}

nav a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 590;
	list-style: none;
	display: inline-block;
	margin: 2em;
	padding: 2em;
	font-size: .2em;

}





		 /* main content style - gallery - thumbnails - main content */

main {
	background-color: rgba(0, 0, 0, .85);
	text-align: center;
	flex: 1;
}

#images {
	margin-top: 2.7em;
	width: 100%;
}

.thumb {
	width: 29vw;
	height: 29vw;
	border: .7vw solid rgba(7, 7, 7, .9);
	border-radius: .3em;
	overflow: hidden;
	display: inline-block;
	margin: 1.5vw;
}

#img-one {
	width: 140%;
	margin-left: -40%;
}

#img-two {
	width: 200%;
	margin-left: -38%;
}

#img-three {
	width: 200%;
	margin-top: -20%;
}





			/* footer style - footer elements */

footer {
	background: #FF957E;
	background: -webkit-linear-gradient(bottom, #000, rgba(0, 0, 0, .9));
	background: -moz-linear-gradient(bottom, #000, rgba(0, 0, 0, .9));
	background: -o-linear-gradient(bottom, #000, rgba(0, 0, 0, .9));
	clear: both;
	border-top: .1em solid #fff;
	text-align: right;
	bottom: 0;
	width: 100%;
}

footer p {
	color: #fff;
	font-weight: 570;
	letter-spacing: .07px;
	text-decoration: none;
	margin: .5em;
	letter-spacing: .3em;
}

a {
	color: #fff;
	font-weight: 500;
	text-decoration: none;
}





			/* first break point */

@media screen and (max-width: 915px) {

	header img {
		margin: 1em 0 0 1em;
	}

	header h1 {
		margin: 0 0 0 .2em;
	}

	nav {
		display: block;
		margin-top: 0;
		float: left;
		margin-left: .5em;
	}

	nav a {
		letter-spacing: .3em;
	}

	#images {
		width: 100%;
	}

	.thumb {
		width: 80vw;
		height: 80vw;
		border: 1vw solid rgba(7, 7, 7, .9);
		border-radius: .3em;
		overflow: hidden;
		margin: auto 0;
	}

	footer {
		text-align: center;
	}

}





			/* second break point */

@media screen and (max-width: 512px) {

	body {
	background: #000;
	font-family: 'Oswald', Helvetica, sans-serif;											
	color: #fff;
	height: 100%;
  	}

  	header {
  		text-align: center;
  	}

  	header img {
  		display: inline-block;
  		width: 2.3em;
  		height: 2.3em;
  		margin: auto 0;
  	}

  	header h1 {
  		display: inline-block;
  		font-size: 2.5em;
  	}

  	nav {
  		width: 95%;
  		margin-bottom: 1em;
  	}

  	nav a {
  		display: block;
  		color: #000;
  		background: #fff;
  		letter-spacing: 2em;
  		font-weight: 600;
  		border-radius: 10px;
  		line-height: 4em;
  		padding: 2em;
  		margin: 4em;
  	}

  	#images {
		margin: 1em 0 1em 0;
  	}
}